html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



body
{
	background-color: #303030;
    font-family: 'Dancing Script', cursive;
	
}

h1{
	font-size: 2.5rem;

}
h2{
	font-size: 2rem;

}

h1,h2{
	color:#2A98AA;
}

.saved-list li,
.inner-list-container li{
	padding:.75rem 0;
	font-size: 1.75rem;
}


.side-bar-handle{
	position: absolute;
	left:100%;
	top:50%;
	font-size: 4rem;
	color:#4D4D4D;
	padding: .5rem .25rem .5rem .25rem;

	background-color: #292929;
	border-right: 1px solid #4D4D4D;
  border-bottom: 1px solid #4D4D4D;
  border-top: 1px solid #4D4D4D;
  border-radius: 0 4px 4px 0;
  background-color: #292929;
  	transform: translate(0%, -50%);
}

.side-bar-handle:hover{
	color:#999999;
}

.saved-list li:nth-child(n):hover,
.inner-list-container li:nth-child(n):hover{
	color:#303030;
	background-color:#2A98AA;
}

.saved-list li:nth-child(odd),
.inner-list-container li:nth-child(odd){
	background-color: #17545E;
	color:#2A2C2B;
}

.saved-list li:nth-child(even),
.inner-list-container li:nth-child(even){
	background-color: #2A2C2B;
	color:#17545E;
}


.main-heading,
.items-header,
.save-list-header,
.items-content{
	text-align: center;
}

.saved-list-section{
	width:25%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	text-align: center;
	background-color: #292929;
	border-right:1px solid #4D4D4D;
}

.main-heading,
.outer-list-container{
	margin-left:25%;
}

.inner-list-container{
	width:50%;
	margin:0 auto;
}

.saved-list,
.items-content ul
{
	padding:0;
}

.saved-list,
.items-list{
	list-style-type: none;
}

.save-container{
	width:50%;
	margin:0 auto;
}

.hidden-accessible
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#title-textbox{
	padding:.25rem;
	width:75%;
	border-radius: 4px;
	border: none;
	font-size: 1.25rem;
	text-align: center;
	background-color: #292929;
	width: 100%;
}

.save-button{
	margin-top: 5%;
	width:100%;
	background-color: #4D4D4D;
	border: none;
	border-radius: 4px;
	padding: .5rem 0 .5rem 0;
}

.save-button:hover{
	background-color: #999999;
}

.inner-list-container hr{
	background-color: #292929;
  border: none;
  border-radius: 3px;
  height: 6px;
  margin: 40px auto 30px auto;
  width: 75%;

}

.item-input{
	width: 100%;
  	padding: .5rem 0 .5rem 0;
  	background-color: #292929;
  	border:none;
  	color:#2A98AA;
  	font-size: 1.5rem;
  	text-align: center;
}

.items-list{
	margin-top:0;
}

.fa-times{
	padding-right: 1em;
}

.fa-check{
	padding-left:1em;
}

.fa-times:hover
{
	color:#AF2815;
}

/*.fa-check:hover
{
	color:#00B71A;

}*/

.checked{
	color:#00B71A;
}

/*.save-list-section{
	width:25%;
	margin:0 auto;
}*/