html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



body
{
	background-color: #303030;
	font-family: Lato;
}

h1{
	font-size: 2.75rem;
}

h1,h2{
	color:#113D44;
}

.saved-list li,
.list-container li{
	padding:.75rem 0;
	font-size: 1.5rem;
}

.saved-list li:nth-child(odd),
.list-container li:nth-child(odd){
	background-color: #17545E;
	color:#2A2C2B;
}

.saved-list li:nth-child(even),
.list-container li:nth-child(even){
	background-color: #2A2C2B;
	color:#17545E;
}


.main-heading,
.unchecked-items-header,
.checked-items-header,
.save-list-header,
.items-content{
	text-align: center;
}

.saved-list-section{
	width:25%;
	height:100%;
	position: fixed;
	/*position:absolute;*/
	top:0;
	left:0;
	text-align: center;
	background-color: #292929;
}

.main-heading,
.active-list-container{
	margin-left:25%;
}

.list-container{
	width:50%;
	margin:0 auto;
}

.saved-list,
.items-content ul
{
	padding:0;
}

.saved-list,
.unchecked-items-list,
.checked-items-list{
	list-style-type: none;
}

.save-container{
	width:50%;
	margin:0 auto;
}

.hidden-accessible
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#title-textbox{
	padding:.5rem;
	width:75%;
}

/*.save-list-section{
	width:25%;
	margin:0 auto;
}*/